{% extends 'base.html' %}

{% load static %}
{% block content %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <div id="tg-homebanner" class="tg-homebanner tg-haslayout">
        <figure class="tg-themepostimg">
            <img src="{% static 'images/banner/img-01.jpg' %}" alt="image description">
            <figcaption>
                <div class="tg-bannercontent" data-tilt>

                    <span class="tg-datetime" style="color:rgba(1,1,1,0)">Abril 08, 2018 | 08 - 10 am</span>
                    <h1><br> <br></h1>
                    <div class="tg-speakerinfo">
                        <div class="tg-authorholder">

                            <div class="tg-authorcontent">
                                <div class="tg-speakername">

                                    <span class="tg-eventcatagory"><br></span>

                                </div>
                            </div>
                        </div>
                        <div class="tg-btnwhite">
                            <br>
                            <a class="tg-btn" href="/inscripcion" style="background-color: white; color: #422C81">Inscripciones</a>

                        </div>
                    </div>
                </div>
            </figcaption>
        </figure>
    </div>

    <main id="tg-main" class="tg-main tg-haslayout" style="background-color: white;">

        <section id="auspiciantes" class="tg-sectionspace tg-haslayout"
                 style="background-image: url('{% static 'images/empedrado.jpg' %}');

                         background-attachment: fixed;
                         background-size: cover;    margin-top: -21px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                        <div class="tg-sectionhead">
                            <div class="tg-sectionheading">

                                <h2 style="color: white">Nuestros auspiciantes</h2>
                            </div>
                            <div class="tg-description">
                                <p style="color: white">Ruta del Empedrado 8K, cuenta con el importante apoyo de varios
                                    auspiciantes, quienes
                                    confían en el comité organizador y ofrecen su aporte económico para el evento.
                                    Estos auspiciantes son:</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <figure><a href="javascript:void(0);"><img
                                src="{% static 'images/auspiciantes/auspiciantes00001.png' %}"
                                alt="image description" width="30%"></a></figure>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <figure><a href="javascript:void(0);"><img
                                src="{% static 'images/auspiciantes/auspiciantes00002.png' %}"
                                alt="image description" width="50%"></a></figure>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" >
                        <figure><a href="javascript:void(0);"><img
                                src="{% static 'images/auspiciantes/auspiciantes00003.png' %}"
                                alt="image description" width="50%"></a></figure>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <figure><a href="javascript:void(0);"><img
                                src="{% static 'images/auspiciantes/auspiciantes00005.png' %}"
                                alt="image description" width="50%"></a></figure>
                    </div>
                </div>
            </div>
        </section>


        <section class="tg-sectionspace tg-haslayout" id="carrera">
            <div class="container">
                <div class="row">
                    <div class="tg-register tg-registershortcode">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="tg-textshortcode">
                                <div class="tg-sectionhead tg-textalignleft">
                                    <div class="tg-sectionheading">
                                        <span>Abril 08, 2018 | 07 am - 2 pm</span>
                                        <h2>Ruta del empedrado</h2>
                                    </div>
                                    <div class="tg-description">
                                        <p>El Festival Atlético Ruta del Empedrado 8k 2018 es el evento masivo más
                                            importante en el centro del país, buscamos una propuesta de construcción
                                            colectiva, diferente e inclusiva para lograr dinamizar a la población y la
                                            economía de Latacunga.</p>
                                        <br>

                                        <p>La organización se establece desde un comité organizador conformado por Representantes de la empresa Privada y las Parroquias Eclesiásticas de San Sebastián, El Salto y La Laguna.
El festival está determinado por 3 partes fundamentales; Competencia Atlética, Ferias y Shows Artísticos y Cartilla Comercial.</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div id="tg-upcomingeventcounter"
                                 class="tg-upcomingeventcounter tg-upcomingeventcountervtwo"></div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 project wow animated animated4 fadeInLeft">
                    <div class="project-hover">
                        <h3 class="text-uppercase  text-center"
                            style="color:#4F377D; font-size: 20px;font-style:italic ">Competencia Atlética <img
                                src="{% static 'images/mapeo.svg' %}" alt="" width="60px"></h3>

                        <hr/>
                        <p>La competencia recorrerá los más bellos rincones del centro histórico de la ciudad de
                            Latacunga y permitirá dar al turista, visitante y atletas foráneos una experiencia sin igual
                            al descubrir la belleza de la ciudad y los retos deportivos que en ella existen.</p>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 project project-4 wow animated animated3 fadeInLeft">
                    <div class="project-hover">
                        <h3 class="text-uppercase  text-center"
                            style="color:#4F377D; font-size: 20px;font-style:italic ">FERIAS Y SHOWS <img
                                src="{% static 'images/mapeo.svg' %}" alt="" width="60px"></h3>
                        <hr/>
                        <p>En las plazas de los barrios participantes habrá presencia en ferias de las marcas
                            participantes y de los emprendimientos .</p>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 project project-4 wow animated animated2 fadeInLeft">
                    <div class="project-hover">
                        <h3 class="text-uppercase  text-center"
                            style="color:#4F377D; font-size: 20px;font-style:italic ">Mapeo de Negocios <img
                                src="{% static 'images/mapeo.svg' %}" alt="" width="60px"></h3>
                        <hr/>
                        <p>Delegaciones en cada barrio realizarán el levantamiento de información de micro y pequeños
                            negocios tradicionales de artes y oficios y nuevos emprendimientos pertenecientes a su
                            sector.</p>

                    </div>
                </div>


            </div>
        </section>


        <div class="tg-gallerymain" id="recorrido">
            <div class="tg-containerholder">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="tg-sectionhead tg-textalignleft">
                                <div class="tg-sectionheading">
                                    <h2>La Carrera</h2>
                                </div>
                                <div class="tg-description">
                                    <p>La ruta tiene un recorrido donde los participantes pasarán por las
                                        calles empedradas(20%) y de asfalto(80%) a lo largo de los barrios El Salto,
                                        La Laguna, Y San Sebastián. Descubriendo la belleza de la ciudad y los retos
                                        deportivos que en ella existen.</p>
                                </div>
                            </div>
                            <div class="tg-gallerytabs">
                                <ul class="tg-gallerynav" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="" aria-controls="home" role="tab" data-toggle="tab">
                                            <figure class="tg-themepostimg">
                                                <time datetime="2017-12-12">20% EMPEDRADO</time>
                                                <img src="{% static 'images/gallery/thumb/img-01.jpg' %}"
                                                     alt="image description">
                                            </figure>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="" aria-controls="profile" role="tab" data-toggle="tab">
                                            <figure class="tg-themepostimg">
                                                <time datetime="2017-12-12">80% ASFALTO</time>
                                                <img src="{% static 'images/gallery/thumb/img-02.jpg' %}"
                                                     alt="image description">
                                            </figure>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="" aria-controls="messages" role="tab" data-toggle="tab">
                                            <figure class="tg-themepostimg">
                                                <time datetime="2017-12-12">2750 m.s.n.m</time>
                                                <img src="{% static 'images/gallery/thumb/img-03.jpg' %}"
                                                     alt="image description">
                                            </figure>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="" aria-controls="settings" role="tab" data-toggle="tab">
                                            <figure class="tg-themepostimg">
                                                <time datetime="2017-12-12">500 competidores</time>
                                                <img src="{% static 'images/gallery/thumb/img-04.jpg' %}"
                                                     alt="image description">
                                            </figure>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tg-sliderholder">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right">
                    <div class="tg-gallerytabcontent tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="tg-backslider">
                                <div class="tg-galleryslider owl-carousel">
                                    <div class="item">
                                        <figure class="tg-themepostimg">
                                            <img src="{% static 'images/gallery/img-06.jpg' %}" alt="image description">
                                        </figure>
                                    </div>
                                    <div class="item">
                                        <figure class="tg-themepostimg">
                                            <img src="{% static 'images/gallery/img-07.jpg' %}" alt="image description">
                                        </figure>
                                    </div>
                                    <div class="item">
                                        <figure class="tg-themepostimg">
                                            <img src="{% static 'images/gallery/img-08.jpg' %}" alt="image description">
                                        </figure>
                                    </div>
                                    <div class="item">
                                        <figure class="tg-themepostimg">
                                            <img src="{% static 'images/gallery/img-09.jpg' %}" alt="image description">
                                        </figure>
                                    </div>
                                    <div class="item">
                                        <figure class="tg-themepostimg">
                                            <img src="{% static 'images/gallery/img-10.jpg' %}" alt="image description">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="tg-forntslider">
                                <div class="tg-gallerthumbslider owl-carousel">
                                    <div class="item my-gallery">
                                        <figure>
                                            <a href="{% static 'images/gallery/img-01.jpg' %}" data-size="1024x1024">
                                                <i class="icon-magnifier"></i>
                                                <img src="{% static 'images/gallery/img-01.jpg' %}"
                                                     alt="Image description"/>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="item my-gallery">
                                        <figure>
                                            <a href="{% static 'images/gallery/img-02.jpg' %}" data-size="1024x1024">
                                                <i class="icon-magnifier"></i>
                                                <img src="{% static 'images/gallery/img-02.jpg' %}"
                                                     alt="Image description"/>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="item my-gallery">
                                        <figure>
                                            <a href="{% static 'images/gallery/img-03.jpg' %}" data-size="1024x1024">
                                                <i class="icon-magnifier"></i>
                                                <img src="{% static 'images/gallery/img-03.jpg' %}"
                                                     alt="Image description"/>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="item my-gallery">
                                        <figure>
                                            <a href="{% static 'images/gallery/img-04.jpg' %}" data-size="1024x1024">
                                                <i class="icon-magnifier"></i>
                                                <img src="{% static 'images/gallery/img-04.jpg' %}"
                                                     alt="Image description"/>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="item my-gallery">
                                        <figure>
                                            <a href="{% static 'images/gallery/img-05.jpg' %}" data-size="1024x1024">
                                                <i class="icon-magnifier"></i>
                                                <img src="{% static 'images/gallery/img-05.jpg' %}"
                                                     alt="Image description"/>
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="pswp__bg"></div>
                        <div class="pswp__scroll-wrap">
                            <div class="pswp__container">
                                <div class="pswp__item"></div>
                                <div class="pswp__item"></div>
                                <div class="pswp__item"></div>
                            </div>
                            <div class="pswp__ui pswp__ui--hidden">
                                <div class="pswp__top-bar">
                                    <div class="pswp__counter"></div>
                                    <button class="pswp__button pswp__button--close" title="Cerrar (Esc)"></button>
                                    <button class="pswp__button pswp__button--share" title="Compartir"></button>
                                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                                    <div class="pswp__preloader">
                                        <div class="pswp__preloader__icn">
                                            <div class="pswp__preloader__cut">
                                                <div class="pswp__preloader__donut"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                    <div class="pswp__share-tooltip"></div>
                                </div>
                                <button class="pswp__button pswp__button--arrow--left"
                                        title="Anterior (arrow left)"></button>
                                <button class="pswp__button pswp__button--arrow--right"
                                        title="Siguiente (arrow right)"></button>
                                <div class="pswp__caption">
                                    <div class="pswp__caption__center"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px;padding-right: 0px;">
                <div id="maparutadelempedrado" class="tg-locationmap tg-map"></div>
            </div>
        </section>


        <section id="categorias" class="tg-sectionspace tg-haslayout">
            <div class="container">
                <div class="row">
                    <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                        <div class="tg-sectionhead">
                            <div class="tg-sectionheading">

                                <h2>CATEGORÍAS</h2>
                            </div>
                            <div class="tg-description">
                                <p>Actívate, diviértete y descubre</p>
                            </div>
                        </div>
                    </div>
                    {#                    <div class="tg-packages">#}
                    {#                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">#}
                    {#                            <div class="tg-package tg-basicplan">#}
                    {#                                <div class="tg-packagehead">#}
                    {#                                    <figure class="tg-themepostimg categorias">#}
                    {#                                        <img src="{% static 'images/empedrado.jpg' %}" alt="image description">#}
                    {#                                        <figcaption class="tg-packagedetail">#}
                    {#                                            <h3>JUVENIL</h3>#}
                    {#                                            <span>Categoría</span>#}
                    {#                                            <h4>#}
                    {#                                                <sub></sub>#}
                    {#                                                <span>14-19</span>#}
                    {#                                                <em>años</em>#}
                    {#                                            </h4>#}
                    {##}
                    {#                                        </figcaption>#}
                    {#                                    </figure>#}
                    {#                                </div>#}
                    {#                                <ul>#}
                    {#                                    <li class="tg-btnregister"><a class="tg-btn" href="/inscripciones">Inscríbete</a></li>#}
                    {#                                </ul>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">#}
                    {#                            <div class="tg-package tg-corporateplan">#}
                    {#                                <div class="tg-packagehead">#}
                    {#                                    <figure class="tg-themepostimg categorias">#}
                    {#                                        <img src="{% static  'images/empedrado.jpg' %}" alt="image description">#}
                    {#                                        <figcaption class="tg-packagedetail">#}
                    {#                                            <h3>SENIOR</h3>#}
                    {#                                            <span>Categoría</span>#}
                    {#                                            <h4>#}
                    {#                                                <sub></sub>#}
                    {#                                                <span>20-40</span>#}
                    {#                                                <em>años</em>#}
                    {#                                            </h4>#}
                    {##}
                    {#                                        </figcaption>#}
                    {#                                    </figure>#}
                    {#                                </div>#}
                    {#                                <ul>#}
                    {#                                    <li class="tg-btnregister"><a class="tg-btn" href="/inscripciones">Inscríbete</a></li>#}
                    {#                                </ul>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {##}
                    {#                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">#}
                    {#                            <div class="tg-package tg-corporateplan">#}
                    {#                                <div class="tg-packagehead">#}
                    {#                                    <figure class="tg-themepostimg categorias">#}
                    {#                                        <img src="{% static  'images/empedrado.jpg' %}" alt="image description">#}
                    {#                                        <figcaption class="tg-packagedetail">#}
                    {#                                            <h3>MASTER</h3>#}
                    {#                                            <span>Categoría</span>#}
                    {#                                            <h4>#}
                    {#                                                <sub></sub>#}
                    {#                                                <span>40-50</span>#}
                    {#                                                <em>años</em>#}
                    {#                                            </h4>#}
                    {##}
                    {#                                        </figcaption>#}
                    {#                                    </figure>#}
                    {#                                </div>#}
                    {#                                <ul>#}
                    {#                                    <li class="tg-btnregister"><a class="tg-btn" href="/inscripciones">Inscríbete</a></li>#}
                    {#                                </ul>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {##}
                    {##}
                    {#                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">#}
                    {#                            <div class="tg-package tg-corporateplan">#}
                    {#                                <div class="tg-packagehead">#}
                    {#                                    <figure class="tg-themepostimg categorias">#}
                    {#                                        <img src="{% static  'images/empedrado.jpg' %}" alt="image description">#}
                    {#                                        <figcaption class="tg-packagedetail">#}
                    {#                                            <h3>SUPER MASTER</h3>#}
                    {#                                            <span>Categoría</span>#}
                    {#                                            <h4>#}
                    {#                                                <sub></sub>#}
                    {#                                                <span>+50</span>#}
                    {#                                                <em>años</em>#}
                    {#                                            </h4>#}
                    {##}
                    {#                                        </figcaption>#}
                    {#                                    </figure>#}
                    {#                                </div>#}
                    {#                                <ul>#}
                    {#                                    <li class="tg-btnregister"><a class="tg-btn" href="/inscripciones">Inscríbete</a></li>#}
                    {#                                </ul>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {##}
                    {##}
                    {#                    </div>#}
                    {##}
                    {##}
                    {#                    <div class="tg-packages" style="padding-top: 2%">#}
                    {#                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">#}
                    {#                            <div class="tg-package tg-basicplan">#}
                    {#                                <div class="tg-packagehead">#}
                    {#                                    <figure class="tg-themepostimg categorias">#}
                    {#                                        <img src="{% static 'images/empedrado.jpg' %}" alt="image description">#}
                    {#                                        <figcaption class="tg-packagedetail">#}
                    {#                                            <h3 style="font-size: 16px; ">CAPACIDADES ESPECIALES</h3>#}
                    {#                                            <span>Categoría</span>#}
                    {#                                            <h4>#}
                    {#                                                <sub></sub>#}
                    {#                                                <span>8km</span>#}
                    {#                                                <em>Distancia</em>#}
                    {#                                            </h4>#}
                    {##}
                    {#                                        </figcaption>#}
                    {#                                    </figure>#}
                    {#                                </div>#}
                    {#                                <ul>#}
                    {#                                    <li class="tg-btnregister"><a class="tg-btn" href="/inscripciones">Inscríbete</a></li>#}
                    {#                                </ul>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">#}
                    {#                            <div class="tg-package tg-corporateplan">#}
                    {#                                <div class="tg-packagehead">#}
                    {#                                    <figure class="tg-themepostimg categorias">#}
                    {#                                        <img src="{% static  'images/empedrado.jpg' %}" alt="image description">#}
                    {#                                        <figcaption class="tg-packagedetail">#}
                    {#                                            <h3>FAMILIAR</h3>#}
                    {#                                            <span>Categoría</span>#}
                    {#                                            <h4>#}
                    {#                                                <sub></sub>#}
                    {#                                                <span>5km</span>#}
                    {##}
                    {#                                            </h4>#}
                    {##}
                    {#                                        </figcaption>#}
                    {#                                    </figure>#}
                    {#                                </div>#}
                    {#                                <ul>#}
                    {#                                    <li class="tg-btnregister"><a class="tg-btn" href="/inscripciones">Inscríbete</a></li>#}
                    {#                                </ul>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {##}
                    {##}
                    {#                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">#}
                    {#                            <div class="tg-package tg-corporateplan">#}
                    {#                                <div class="tg-packagehead">#}
                    {#                                    <figure class="tg-themepostimg categorias">#}
                    {#                                        <img src="{% static  'images/empedrado.jpg' %}" alt="image description">#}
                    {#                                        <figcaption class="tg-packagedetail">#}
                    {#                                            <h3>RECREATIVA</h3>#}
                    {#                                            <span>Categoría</span>#}
                    {#                                            <h4>#}
                    {#                                                <sub></sub>#}
                    {#                                                <span>FAMILIAR</span>#}
                    {##}
                    {#                                            </h4>#}
                    {##}
                    {#                                        </figcaption>#}
                    {#                                    </figure>#}
                    {#                                </div>#}
                    {#                                <ul>#}
                    {#                                    <li class="tg-btnregister"><a class="tg-btn" href="#">Inscríbete</a></li>#}
                    {#                                </ul>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {##}
                    {##}
                    {#                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">#}
                    {#                            <div class="tg-package tg-corporateplan">#}
                    {#                                <div class="tg-packagehead">#}
                    {#                                    <figure class="tg-themepostimg categorias">#}
                    {#                                        <img src="{% static  'images/empedrado.jpg' %}" alt="image description">#}
                    {#                                        <figcaption class="tg-packagedetail">#}
                    {#                                            <h3>RECREATIVA</h3>#}
                    {#                                            <span>Categoría</span>#}
                    {#                                            <h4>#}
                    {#                                                <sub></sub>#}
                    {#                                                <span>PET</span>#}
                    {##}
                    {#                                            </h4>#}
                    {##}
                    {#                                        </figcaption>#}
                    {#                                    </figure>#}
                    {#                                </div>#}
                    {#                                <ul>#}
                    {#                                    <li class="tg-btnregister"><a class="tg-btn" href="#">Inscríbete</a></li>#}
                    {#                                </ul>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {##}
                    {##}
                    {#                    </div>#}
                </div>


                <div class="row">
                    <div class="col-md-6">


                        <figure class="snip0021">
                            <div style="position: relative;"><img
                                    src="{% static 'images/competencia/competencia.jpg' %}" alt="sample21"/>
                                <div class="btn btn-default" style="    position: absolute;bottom: 0px;right: 10px;top: 89%;
    left: 50%; background-color: #653365; width: 50%; color: white; font-size: 1.3em; border-color: #653365">Ver categoría competitiva
                                </div>
                            </div>

                            <figcaption>
                                <div>
                                    <h2 style="colow:white">Categorías <span
                                            style="font-size: 20px;">competitivas</span>
                                        <div style="font-size: 25px;">
                                            <br>
                                            Juvenil
                                            <br>
                                            Master <br>
                                            Senior <br>
                                            Super Master <br>
                                        </div>
                                    </h2>

                                </div>
                                <div>
                                    <p><span style="font-size: 25px;">Carrera 8k</span> <br><br>

                                        <strong>Fecha:</strong> Domingo 08 de abril de 2018 <br>

                                        <strong>Hora:</strong> 08h30 <br>

                                        <strong>Punto Partida:</strong> Plazoleta San Sebastián <br>

                                        <strong>Punto de Llegada:</strong> Plazoleta San Sebastián <br>

                                        <strong>Costo de inscripción:</strong> USD 15 <br>
                                        <strong>Beneficios atletas:</strong> <br>
                                        Camiseta, chip de competencia, hidratación en el recorrido, medalla, kit de atleta entregado en la llegada, asistencia con paramédicos y
                                        ambulancias, condiciones de seguridad en ruta
                                        coordinadas con la Policía Nacional y Scout.</p>

                                </div>

                            </figcaption>
                        </figure>

                    </div>
                    <div class="col-md-6">
                        <figure class="snip0021 ">
                            <div style="position: relative;"><img
                                    src="{% static 'images/competencia/pet.jpg' %}" alt="sample21"/>
                                <div class="btn btn-default" style="    position: absolute;bottom: 0px;right: 10px;top: 89%;
    left: 50%; background-color: #653365; width: 50%; color: white; font-size: 1.3em; border-color: #653365">Ver categoría recreativa
                                </div>
                            </div>
                            <figcaption>
                                <div>
                                    <h2 style="colow:white">Categorías <span style="font-size: 20px">recreativas</span>
                                        <div style="font-size: 25px;">
                                            <br>
                                            Familiar
                                            <br>
                                            PET <br>
                                            5K <br>
                                            Capacidades Especiales <br>
                                        </div>
                                    </h2>
                                </div>
                                <div>

                                    <p><span  style="font-size: 25px;">Carrera 5k</span> <br> <br>

                                        <strong>Fecha:</strong> Domingo 08 de abril de 2018 <br>

                                        <strong>Hora:</strong> 08h45 <br>

                                        <strong>Punto Partida:</strong> Plazoleta San Sebastián <br>

                                        <strong>Punto de Llegada:</strong> La Laguna <br>


                                        <strong>Costo de inscripción:</strong> USD 8 <br>
                                        <strong>Beneficios atletas:</strong> <br>
                                        Camiseta, hidratación en el recorrido, medalla, asistencia con paramédicos y
                                        ambulancias, condiciones de seguridad en ruta
                                        coordinadas con la Policía Nacional y Scout.</p>

                                </div>

                            </figcaption>
                        </figure>


                    </div>
                </div>


            </div>
        </section>


{#        <section class="tg-sectionspace tg-haslayout" style="background-color: #f7f7f7">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="tg-newsarticles">#}
{#                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">#}
{#                            <div class="tg-textshortcode">#}
{#                                <div class="tg-sectionhead tg-textalignleft">#}
{#                                    <div class="tg-sectionheading">#}
{##}
{#                                        <h2>Consejos para correr 8k</h2>#}
{#                                    </div>#}
{#                                    <div class="tg-description">#}
{#                                        <p>Recomendaciones generales, preparación, y alimentación previa la carrera. El#}
{#                                            cansancio es una de las barreras más duras de superar para runners. Se#}
{#                                            manifiesta a través de calambres y mareos, y afecta el rendimiento. Las#}
{#                                            recomendaciones para mantener la energía y mejorar la performance</p>#}
{#                                    </div>#}
{#                                    <div class="tg-btnarea">#}
{##}
{#                                        <a class="tg-btn" href="#">Inscripciones</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">#}
{#                            <div class="tg-articles">#}
{#                                <div class="row">#}
{#                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">#}
{#                                        <article class="tg-article">#}
{#                                            <figure><img src="{% static 'images/newsarticles/img-01.jpg' %}"#}
{#                                                         alt="image description"></figure>#}
{#                                            <div class="tg-contentbox" style="background-color: #f7f7f7">#}
{#                                                <div class="tg-title">#}
{#                                                    <h2><a href="#">Primer consejo</a></h2>#}
{#                                                </div>#}
{#                                                <ul class="tg-postmaradata">#}
{#                                                    <li><i class="icon-calendar-full"></i>#}
{#                                                        <time datetime="2017-12-12">Febrero 18, 2018</time>#}
{#                                                    </li>#}
{##}
{#                                                </ul>#}
{#                                                <div class="tg-description">#}
{#                                                    <p>Texto de ejemplo</p>#}
{#                                                </div>#}
{#                                                <a class="tg-btnreadmore" href="#">Leer más</a>#}
{#                                            </div>#}
{#                                        </article>#}
{#                                    </div>#}
{#                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">#}
{#                                        <article class="tg-article">#}
{#                                            <figure><img src="{% static 'images/newsarticles/img-02.jpg' %}"#}
{#                                                         alt="image description"></figure>#}
{#                                            <div class="tg-contentbox" style="background-color: #f7f7f7">#}
{#                                                <div class="tg-title">#}
{#                                                    <h2><a href="#">Segundo Consejo</a></h2>#}
{#                                                </div>#}
{#                                                <ul class="tg-postmaradata">#}
{#                                                    <li><i class="icon-calendar-full"></i>#}
{#                                                        <time datetime="2017-12-12">Marzo 27, 2018</time>#}
{#                                                    </li>#}
{##}
{#                                                </ul>#}
{#                                                <div class="tg-description">#}
{#                                                    <p>Texto de ejemplo</p>#}
{#                                                </div>#}
{#                                                <a class="tg-btnreadmore" href="javascript:void(0);">Leer más</a>#}
{#                                            </div>#}
{#                                        </article>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}


        <section class="tg-askquestions tg-haslayout tg-sectionspace tg-bglight" id="faq">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                        <div class="tg-faqs">
                            <div class="tg-sectionhead tg-textalignleft">
                                <div class="tg-sectionheading">

                                    <h2>Preguntas frecuentes</h2>
                                </div>
                            </div>
                            <div id="tg-accordion" class="tg-accordion" role="tablist" aria-multiselectable="true">
                                <div class="tg-panel">
                                    <h4><span>Q.</span>Consectetur adipisicing elit, sed do eiusmod?</h4>
                                    <div class="tg-panelcontent">
                                        <div class="tg-description">
                                            <p><span>A.</span>Sed do eiusmod tempor incididunt ut labore et dolore magna
                                                aliqua. Ut eni minim veniam, quis nostrud exercitation ullamco laboris
                                                nisi ut aliquip exea commodo consequat aute irure dolor.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-panel">
                                    <h4><span>Q.</span>Nisi ut aliquip ex ea commodo consequat?</h4>
                                    <div class="tg-panelcontent">
                                        <div class="tg-description">
                                            <p><span>A.</span>Sed do eiusmod tempor incididunt ut labore et dolore magna
                                                aliqua. Ut eni minim veniam, quis nostrud exercitation ullamco laboris
                                                nisi ut aliquip exea commodo consequat aute irure dolor.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-panel">
                                    <h4><span>Q.</span>Tempor incididunt ut labore?</h4>
                                    <div class="tg-panelcontent">
                                        <div class="tg-description">
                                            <p><span>A.</span>Sed do eiusmod tempor incididunt ut labore et dolore magna
                                                aliqua. Ut eni minim veniam, quis nostrud exercitation ullamco laboris
                                                nisi ut aliquip exea commodo consequat aute irure dolor.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-panel">
                                    <h4><span>Q.</span>Dolore magna aliqua enim ad minim?</h4>
                                    <div class="tg-panelcontent">
                                        <div class="tg-description">
                                            <p><span>A.</span>Sed do eiusmod tempor incididunt ut labore et dolore magna
                                                aliqua. Ut eni minim veniam, quis nostrud exercitation ullamco laboris
                                                nisi ut aliquip exea commodo consequat aute irure dolor.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                        <div class="tg-askquestion">
                            <div class="tg-heading">
                                <h2>Quieres formar parte como<span>voluntario?</span></h2>
                            </div>
                            <form class="tg-formtheme tg-formaskquestions">
                                <fieldset>
                                    <div class="form-group">
                                        <input type="text" name="nombre" class="form-control"
                                               placeholder="Nombre completo*">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" placeholder="Email*">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="telefono" class="form-control"
                                               placeholder="Teléfono (Opcional)">
                                    </div>

                                    <div class="g-recaptcha" data-sitekey="6Leqr0kUAAAAAFXqdrxFgzadrgHEGgUElftI_urm"></div>
                                    <button type="submit" class="tg-btn">Enviar</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>









{% endblock %}